# Build and Object Folders
bin/
obj/
Obj/

#User Specific Files
*.user
*.suo
*.userprefs
*.pidb


#Resource Caches
_ReSharper.*
*.sln.cache

#Nuget
packages
*.nupkg

#vim
*~
*.swp

#unit tests
TestResults
test-results

# StyleCope
StyleCop.Cache
/TestLibCSV/OpenCover/coverage.xml
